            h1{
                color:olive;
                text-align: center;
                
            }
            img{
                width:400px
            }  
            #thirdDiv{
                height:600px;
                width:500px;
                background-color: darkolivegreen;
                padding: 50px;
                border: 20px solid black;
                margin: auto;

            }
            .divClass{
                text-align: center;
                font-size: 45px;
                font-style: oblique;
            }
            #spanId{
                font-size: 30px;
                margin: 50px;
                
            }
       